.section {
  background-image: none;
  overflow: hidden;
  padding: 0;
  margin-bottom: 15px;
}
.title {
  text-align: center;
  font-size: 38px;
  padding: 15px 0;
}
.marquee {
  max-width: 100%;
}
.subBox1 {
  border-radius: 5px;
  place-items: center;
  width: 140px;
  height: 140px;
  padding: 15px 15px 2px;
  margin: 0 10px;
  text-align: center;
  background-image: linear-gradient(180deg, #181a2fd8 0%, #16182dd8 100%);
  & h3 {
    color: white;
    font-size: 14px;
  }
}
.subBox2 {
  composes: subBox1;
  background-image: linear-gradient(180deg, #181e2fd8 0%, #161e2dd8 100%);
  margin-top: 15px;
}
