.section {
  background-image: none;
  overflow: hidden;
  padding: 0;
  margin-bottom: 15px;
}
.title {
  text-align: center;
  font-size: 38px;
  padding: 15px 0;
}
.list {
  column-count: 2;
  column-gap: 30px;
}
.marquee {
  max-width: 100%;
}
.subBox1 {
  border-radius: 5px;
  place-items: center;
  width: 160px;
  height: 160px;
  padding: 15px 10px 2px;
  margin: 0 10px;
  text-align: center;
  background-image: linear-gradient(180deg, #1b3a64d8 0%, #16182dd8 100%);
  & h3 {
    color: white;
    font-size: 18px;
  }
}
.subBox2 {
  background-image: linear-gradient(180deg, #015c4ed8 0%, #161e2dd8 100%);
  margin-top: 15px;
}
.img {
  width: 100px;
  height: 100px;
}
