.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/hero.webp);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.container {
  width: 100%;
  padding-bottom: 50px;
}
.title {
  text-shadow: 1px 1px 20px black;
  line-height: 0.8;
  font-size: 60px;
  & p {
    font-size: 24px;
  }
}
.description {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 100;
  text-decoration: overline;
}
.button {
  padding: 12px 50px;
}
