.area {
  background-image: linear-gradient(180deg, #0e0f1b 0%, #080913 100%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -9;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(n + 11):nth-child(-n + 20) {
  animation-name: animateUp;
  top: -150px;
}
.circles li:nth-child(1),
.circles li:nth-child(17) {
  background-color: rgba(0, 249, 255, 0.8);
  box-shadow: 0 0 8px 3px rgba(0, 249, 255, 0.8); /* Тінь того ж кольору */
}

.circles li:nth-child(6),
.circles li:nth-child(10) {
  background-color: rgba(0, 255, 0, 0.8);
  box-shadow: 0 0 8px 3px rgba(0, 255, 0, 0.8); /* Тінь того ж кольору */
}

.circles li:nth-child(3),
.circles li:nth-child(19) {
  background-color: rgba(255, 7, 58, 0.8);
  box-shadow: 0 0 8px 3px rgba(255, 7, 58, 0.8); /* Тінь того ж кольору */
}

.circles li:nth-child(4),
.circles li:nth-child(12) {
  background-color: rgba(255, 158, 0, 0.8);
  box-shadow: 0 0 8px 3px rgba(255, 158, 0, 0.8); /* Тінь того ж кольору */
}

.circles li:nth-child(5),
.circles li:nth-child(13) {
  background-color: rgba(243, 255, 0, 0.8);
  box-shadow: 0 0 8px 3px rgba(243, 255, 0, 0.8); /* Тінь того ж кольору */
}

.circles li:nth-child(2),
.circles li:nth-child(20) {
  background-color: rgba(0, 179, 255, 0.8);
  box-shadow: 0 0 8px 3px rgba(0, 179, 255, 0.8); /* Тінь того ж кольору */
}

.circles li:nth-child(7),
.circles li:nth-child(15) {
  background-color: rgba(255, 0, 60, 0.8);
  box-shadow: 0 0 8px 3px rgba(255, 0, 60, 0.8); /* Тінь того ж кольору */
}

.circles li:nth-child(8),
.circles li:nth-child(11) {
  background-color: rgba(124, 78, 255, 0.8);
  box-shadow: 0 0 8px 3px rgba(124, 78, 255, 0.8); /* Тінь того ж кольору */
}

.circles li:nth-child(10),
.circles li:nth-child(16) {
  background-color: rgba(242, 199, 0, 0.8);
  box-shadow: 0 0 8px 3px rgba(242, 199, 0, 0.8); /* Тінь того ж кольору */
}

.circles li:nth-child(9),
.circles li:nth-child(14) {
  background-color: rgba(255, 68, 0, 0.8);
  box-shadow: 0 0 8px 3px rgba(255, 68, 0, 0.8); /* Тінь того ж кольору */
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  animation-duration: 18s;
}

.circles li:nth-child(4) {
  left: 2%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 16s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 7s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  animation-duration: 16s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  animation-duration: 16s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 4s;
  animation-duration: 6s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.circles li:nth-child(11) {
  right: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 20s;
}

.circles li:nth-child(12) {
  right: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 17s;
}

.circles li:nth-child(13) {
  right: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  animation-duration: 9s;
}

.circles li:nth-child(14) {
  right: 2%;
  width: 60px;
  height: 60px;
  animation-delay: 1s;
  animation-duration: 14s;
}

.circles li:nth-child(15) {
  right: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(16) {
  right: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  animation-duration: 11s;
}

.circles li:nth-child(17) {
  right: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 5s;
  animation-duration: 14s;
}

.circles li:nth-child(18) {
  right: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 23s;
}

.circles li:nth-child(19) {
  right: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(20) {
  right: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@keyframes animateUp {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
