.box {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  align-items: center;
}

.count {
  font-size: 64px;
  font-weight: 700;
  background: linear-gradient(180deg, #3a7bd5 0%, #00ffcc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none;
  & span {
    font-size: 28px;
  }
}
