.box {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 5px;
  animation: fadeIn 0.5s ease-in-out;
}

.lang {
  width: 45px;
  height: 30px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  opacity: 0.5;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out,
    border 250ms ease-in-out;
}

.active {
  border: 1px solid #00ffcc;
  transform: scale(1.2);
  opacity: 1;
}
