:root {
  --ff-bgcColor: rgb(0, 0, 0);
}

.light-theme {
  --ff-bgcColor: rgb(255, 255, 255);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.body {
  position: relative;
  top: 0;
  left: 0;
}
canvas {
  background-color: var(--ff-bgcColor);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
